:root {
    /* #1d9bf0 */
    --brand-primary: #44bfaa;
    --brand-dark: #3c6860;
    /* --brand-primary: #7b44bf; */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
body {
    font-family: 'Roboto Serif', serif;
}
